@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">¡Bienvenido!</h1>
            <h2 class="display-5 mb-4">Examen Progreso 1</h2>
            <p class="lead">¡Explora cómo construir aplicaciones web con ASP.NET Core!</p>
            <p>Para comenzar, aprende más sobre ASP.NET Core en la <a href="https://learn.microsoft.com/aspnet/core" class="text-primary">documentación oficial</a>.</p>
        </div>
    </div>
</div>
